* {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #0B2447;
  color: aliceblue;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

header div{
  text-align: center;
  padding: 20px;
}
#pagina1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;

}

#opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

#botones {
  margin: 10px;
}

#detalles{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}

#detalles div h2 {
  font-size: 18px;
}

#detalles div p {
  margin: 10px;
}

#detalles div p span{
  font-weight: 400;
  font-size: 15px;
}

.botonPag {
  width: 200px;
  display: inline;
  margin: 2px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  background-color: #A5D7E8;
  border: 2px solid #A5D7E8;
  color: #0B2447;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
}

.botonPag:hover,
.botonPag:focus {
  background-color: #0B2447;
  color: #A5D7E8;
}

/* Pagina 2, registro de tareas  */
#pagina2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.seccionAgregarTareas {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#formulario{
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

#tarea{
  margin: 10px;
  padding: 10px;
}

#descripcion{
  margin: 10px;
  padding: 10px;
}

select{
  margin: 10px;
  padding: 10px; 
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

#tareasAgregadas {
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

#tareasAgregadas h3 {
  font-weight: 400;
}

#ultimasAgregadas{
  margin: 10px;
}


/* Pagina 3 visualizacion de las tareas*/
#pagina3 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.tareas {
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding: 10px;
  overflow: hidden;
}

#pendientes{
  flex: 2 1;
}

#terminadas{
  flex: 2 1;

}

.box{
  display: flex;
  flex: auto;
  flex-direction: row;
  border-radius: 10px;
  background-color: #222831;
  margin: 5px;
  height: 90px;
}

.seccionTarea{
  flex: 2 1;
  padding: 10px;
}

.seccionBoton{
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex: 1 2;
  justify-content: end;
  border-radius: 5px;
}

.botonCerrar{
  display: flex;
  flex-direction: row;
  flex: 2 1;
  margin-right: 0px;
}

/* new styles */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

.heading-md {
  margin-bottom: 40px;
  font-size: 22px;
}


@media only screen and (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
}
