*{
    margin: 0 auto;
}

body {
  font-family: sans-serif;
  background-color: #171717;
  color: aliceblue;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

header div{
  text-align: center;
  padding: 20px;
}
#pagina1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  text-align: center;

}

#opciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}

#botones {
  margin: 10px;
}

#detalles{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
}

#detalles div p{
  margin: 10px;
}

.botonPag {
  width: 200px;
  display: inline;
  margin: 2px;
  padding: 10px 20px;
  font-size: 12px;
  background-color: #a459d1;
  color: #fff;
  border: none;
  border-radius: 10px;
}

/* Pagina 2, registro de tareas  */
#pagina2 {
  display: flex;
  flex-direction: column;
  margin: 10px;

}

.seccionAgregarTareas {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#formulario{
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

#tarea{
  margin: 10px;
  padding: 10px;
}

#descripcion{
  margin: 10px;
  padding: 10px;
}

select{
  margin: 10px;
  padding: 10px; 
}

form{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#tareasAgregadas{
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

#ultimasAgregadas{
  margin: 10px;
}


/* Pagina 3 visualizacion de las tareas*/
#pagina3 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.tareas {
  display: flex;
  flex-direction: row;
  margin: 2px;
  padding: 10px;
  overflow: hidden;
}

#pendientes{
  flex: 2 1;
}

#terminadas{
  flex: 2 1;

}

.box{
  display: flex;
  flex: auto;
  flex-direction: row;
  border-radius: 10px;
  background-color: #222831;
  margin: 5px;
  height: 90px;
}

.seccionTarea{
  flex: 2 1;
  padding: 10px;
}

.seccionBoton{
  display: flex;
  flex-direction: column;
  background-color: blue;
  flex: 1 2;
  justify-content: end;
  border-radius: 5px;
}

.botonCerrar{
  display: flex;
  flex-direction: row;
  flex: 2 1;
  margin-right: 0px;
}